.c-map__main-div {
  color:#404040;
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  display:flex;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.c-map__sidebar {
  width:33.3333%;
  height:100%;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
}
.pad2 {
  padding:20px;
}

.c-map__map {
  width:66.6666%;
  height:100%
}

.c-map__main-div h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
  line-height: 20px;
  padding: 20px 2px;
}

.c-map__main-div a {
  color:#404040;
  text-decoration:none;
}

.c-map__main-link {
  color:#404040;
  text-decoration:none;
}

.c-map__main-div a:hover {
  color:#951818;
}

.c-map__sidebar-heading {
  background:#fff;
  border-bottom:1px solid #eee;
  min-height:60px;
  line-height:60px;
  padding:0 10px;
  background-color: #000;
  color: #fff;
}

#sidebar-search {
  background-image: url('search_icon.png'); /* Add a search icon to input */
  background-position: 15px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 16px;
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  position: relative;
}

.c-map__sidebar-listings {
  height:87.5%;
  overflow:auto;
}

.c-map__sidebar-listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}

.c-map__sidebar-listings .item:last-child { border-bottom:none; }
.c-map__sidebar-listings .item .title {
  display:block;
  color:#0e5959;
  font-weight:700;
}

.c-map__sidebar-listings .item .title small { font-weight:400; }
.c-map__sidebar-listings .item.active .title,
.c-map__sidebar-listings .item .title:hover { color:#951818; }
.c-map__sidebar-listings .item.active {
  background-color:#f8f8f8;
}
c-map__main-div::-webkit-scrollbar {
  width:20px;
  height:10px;
  border-left:0;
  background:rgba(0,0,0,0.05);
}
c-map__main-div::-webkit-scrollbar-track {
  background:none;
}
c-map__main-div::-webkit-scrollbar-thumb {
  background:#951818;
  border-radius:0;
}

.c-map__marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(markersmall.png);
  background-color: rgba(0, 0, 0, 0);
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/* Marker tweaks */

.mapboxgl-popup {
  padding-bottom: 50px;
}

.c-map__popup-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.c-map__popup-buttons-div button {
  margin: 5px;
  width: 200px;
  height: 30px;
  color: #951818;
  background: transparent;
  border: 2px solid #951818;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

.c-map__popup-buttons-div button:hover {
      background-color: #951818;
      color: white;
 }


.mapboxgl-popup-close-button {
  display:none;
}


.mapboxgl-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:250px;
}
.mapboxgl-popup-content-wrapper {
  padding:1%;
}
.mapboxgl-popup-content h3 {
  background:#0e5959;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
  text-align: center;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  padding: 10px 10px 10px 10px;
  font-weight:400;
  text-align: center;
}

/*
.mapboxgl-popup-content div {
  padding:10px;
}
*/

.mapboxgl-container .leaflet-marker-icon {
  cursor:pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
